table{
  width:60rem;
  height:16rem;
    font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:0.7rem;
  border:#dddddd 1px solid;  
border-collapse: separate;  
  border-spacing:0;
  border-radius: 12px;       
      overflow: hidden;
 
}
td , th{
  padding: 12px 15px;
      text-align: left;
      
}


.table-head{
background-color:#215a8e;
  color:white;
}
.thead{
border:none;
  
}
 tbody tr:nth-child(even) {
      background-color: #dddddd; 
    }